<!DOCTYPE html>
<html lang="en-US">
<!--This file contains content for the index page of Seiders-Baney Bicycles.-->

<head> <!--Header information-->
    <meta charset="utf-8">
    <meta name="description" content="An American company working to reestablish bicycles as a part of the American lifestyle.">
    <meta name="keywords" content="bicycles, American made, American lifestyle, bikes">
    <title>Seiders-Baney Bicycles | American Made Bicycles</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
    <h1>Seiders-Baney Bicycles</h1> <!--First Heading-->
    <h2>An American company working to reestablish bicycles as a part of the American lifestyle.</h2> <!--Second Heading-->
    <img src="images/SBBicycles.jpg"> <!--Image-->
<body><!--Body-->
  <p>Welcome to <em>Seiders-Baney Bicycles</em> located in Southern Illinois, near the beautiful Shawnee Forest Reserve, we focus on offering American made bicycles for sale in an attempt to reestablish bike riding as a part of the American lifestyle. </p>
    <p>We publish a montly newsletter that includes bike routes through the Shawnee Forest, news and information on bicycling for your health and many other topics for bicycling enthusiasts.</p>
    <p>Please enter your e-mail address to subscibe to our newsletter.</p>
    <p class="first field">Email:
    <input type="text" name="email" id="email" title="Enter e-mail here."</p>
    <p><input type="submit" value="Subscribe"</p>
</body>
</html>